body{
	background-color: #76cdd3;
}
body, a, div, span, label{
	font-size: 12px;
	color: #000;
}

input[type=text], input[type=password], input[type=button]{
	width: 180px;
	height: 24px;
	border: 1px #008997 solid;
	border-radius: 2px;
	padding-left: 2px;
	margin: 2px 0;
}

input[type=button]{
	width: 184px;
	height: 28px;
	background-color: #fff;
	color: #000;
}


input[type=button]:hover{
	background-color: #008997;
	color: #fff;
}

a{
	text-decoration: none;
	cursor: pointer;
}
a:hover{
	color: #c17500 !important;
}

.form{
	width: 600px;
	margin: auto;
}

.row{
	margin : 10px;
	line-height: 28px;
}

.title{
	font-weight: 500;
	font-size: 14px;
}

.label{
	float: left;
    text-align: right;
    width: 200px;
    padding-right: 10px;
}

.elem{
	float: left;
    width: 300px;
    text-align: left;
    padding-left: 20px;
}

.invalid{
	border-color: #b93600 !important;
}

.error{
	color: #b93600;
	display: block;
}

.active{
	color: #003c4e;
	font-weight: bold;
	font-size: 12px;
}

.disabled{
	color: #868686;
}

ul li{
	list-style: none;
}

.main{
    width: 1024px;
    margin: auto;
}

.top{
	position: relative;
    margin: auto;
    width: 100%;
}

.center{
	position: relative;
    top: 30px;
    width: 100%;;
    height: 100%;
}

.searchArea{
	clear: both;
	padding: 10px; 
}

.s-item{
	display: flex;
	line-height: 30px;
	border-bottom: 1px #cfeef0 dotted;
    margin: 5px;
}
.s-item span{
	width: 50px;
	font-weight: bold;
	font-size: 14px;
	color: #003c4e;
}

[class^="s-item-"] li {
	width: 65px;
	float: left;
}

.dataArea{
	clear: both;
	padding: 10px;   
}

.d-item{
}

.d-item li{
	float: left;
    width: 180px;
    height: 240px;
	padding:2px;
	border: 1px #cfeef0 dotted;
    margin: 3px;
    border-radius: 5px;
}

.d-item li:hover{
	outline: #fff auto 5px;
}

.pageArea{
	clear: both;
	padding: 10px;
}

.p-item{
    width: 300px;
    height: 30px;
    line-height: 30px;
    float: right;
}

.p-item li{
	float: left;
	width: 40px;
	text-align: center;
}

.s-item ul li, .pageArea ul li{
	cursor: pointer;
}

.globalSearch{
	width: 250px;
    margin: auto;
}

.globalSearch input[type=button]{
	width: 60px;
}

.user{
	float: right;
	margin-right: 20px;
}


.up{
	margin-left:5px;
    display: inline-block;
	border-bottom: 10px solid #b93600;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	width:0;
	height:0;
}

.down{
	margin-left:5px;
    display: inline-block;
	border-top: 10px solid #b93600;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	width:0;
	height:0;
}

.cate-form{
	position: relative;
}

.cate-list{
	display: none;
    width: 180px;
    position: absolute;
    left: 1px;
    top: 30px;
    background-color: #76cdd3;
    border: 1px #cfeef0 solid;
    border-radius: 2px;
}

.cate-list span{
	display: block;
    font-size: 12px;
    line-height: 24px;
    border-bottom: 1px #b8f9fd dotted;
}

.i-zan{
	cursor: pointer;
}


.showArea{
	clear: both;
	width: 1000px;
	margin: auto;
	padding: 20px;

}
.showArea ul{
	margin: auto;
	width: 1000px;
	height: 305px;
	overflow: hidden;
}

.showArea ul li{
	display: none;
}

.curr{
	display: block!important;
}

.lun{
	width: 1000px;
	height: 305px;
}
.pageBtn{
	position: absolute;
	right: 400px;
	top: 330px;
}

.pageBtn div{
	width: 20px;
	height: 20px;
	color: #423e3e;
	display: inline-block;
	border-radius: 50%;
	background-color: #fff;
	text-align: center;
	z-index: 9999999;
	margin: 0 5px;
}

.ac{
	background-color: red !important;
}

.dialog{
	position: fixed;
	display: none;
	width: 300px;
	height: 120px;
	margin: auto;
	background: #fff;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border: none;
	border-radius: 5px;
	box-shadow: 4px 5px 6px 1px #ddd;
}

.dialog.on{
	display: block;
}

.dialog .title{
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	padding-left: 15px;
	font-weight: bold;
}
.dialog .content{
	width: 100%;
	height: 30px;
	padding-left: 15px;
}
.dialog .footer{
	width: 100%;
	height: 20px;
}

.dialog .footer input{
	width: 60px;
	position: relative;
	margin-right:20px;
	float: right;
}



.pop{
	opacity: 0.4;
}


ul{
	-webkit-padding-start: 0px;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
}
